.form-group {
    text-align: center !important;
    color: #721717;
    justify-content: center;
  }
  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-sm-6 {
  width: 100%;
}
.form-control{
    margin-bottom: 5%;
}
